h1 {
  font-family: "Poppins", sans-serif;
  color: #5a6aca;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  margin-left: 10px;
}
.Weather-app-wrapper {
  width: 600px;
  margin: 10px auto;
}
.Weather-app {
  padding: 20px;
  border: 2px solid;
  border-color: #5a6aca;
  border-radius: 4px;
  box-shadow: 5px 5px 10px lightgray;
  background-color: #5a6aca;
}
.App-link {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-align: center;
}
